node-red/data/.flows.json.backup
[{"id":"6f436e7c.86888","type":"tab","label":"Flow 1"},{"id":"166d35a9.c7ac9a","type":"mqtt-broker","z":"","broker":"mqtt","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"65f658ca.8821e8","type":"inject","z":"6f436e7c.86888","name":"","topic":"Meo Meo","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"x":179.5,"y":106,"wires":[["a09a28b7.a45e"]]},{"id":"9242fd02.f76e4","type":"debug","z":"6f436e7c.86888","name":"","active":true,"console":"false","complete":"false","x":424.5,"y":95,"wires":[]},{"id":"a09a28b7.a45e","type":"function","z":"6f436e7c.86888","name":"","func":"if(msg.payload === 1)\n    msg.payload = 'Toan';\n    return msg;\n","outputs":1,"noerr":0,"x":287.5,"y":194,"wires":[["9242fd02.f76e4"]]}]